<h1>New Entry</h1>

<form action="<%= place_entries_path(params[:place_id]) %>" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="place_id" value="<%= params["place_id"] %>">

  <p>
    <label for="title_input">Title</label>
    <input type="text" name="entry[title]" id="title_input">
  </p>

  <p>
    <label for="description_input">Description</label>
    <input type="text" name="entry[description]" id="description_input">
  </p>

  <p>
    <label for="occurred_on_input">Occurred On</label>
    <input type="date" name="entry[occurred_on]" id="occurred_on_input">
  </p>

  <button>Save</button>
</form>
