/* Application styles */
.list-group-item a {
  color: #000;
  font-size: 1.25rem;
  display: block;
  padding: 10px;
}

.list-group-item a:hover {
  text-decoration: none;
  background-color: #f8f9fa;
  border-radius: 5px;
}
