<h1>Places</h1>

<% if @places.any? %>
  <ul class="list-group">
    <% @places.each do |place| %>
      <li class="list-group-item">
        <%= link_to place.name, place_path(place), class: 'text-decoration-none' %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No places found.</p>
<% end %>

<% if current_user %>
  <p class="mt-3">
    <%= link_to "New Place", new_place_path, class: 'btn btn-success' %>
  </p>
<% end %>
