<% if current_user %>
  <h1>New Place</h1>

  <%= form_with(model: @place, local: true) do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<% else %>
  <p>You must be logged in to create a new place.</p>
<% end %>
